
.btnproduto{
	margin-top: 100px;
	margin-left: 170px;
}

.uimodalbody{
	margin-top: 20px;

}

.uimodalfooter{
	margin-top:180px;

}

.tableproduto{
	margin-top: 50px;

}


.tableprodutovenda{
	margin-top: 30px;

}

.btntable{
	margin-top: 100px;

	margin-left: 190px;
}

.fimtempo{
	background-color: #EE6363;
}

.tablemaquina{
	margin-top: 50px;

}

.seletorpagina{
	margin-top: 100px;

}
