<div ng-show="sucessoSalvar" class="alert alert-success center-block" role="alert">
	<strong>Tempo inserido com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroSalvar" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel registrar o tempo. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>



<div ng-show="sucessoGuardar" class="alert alert-success center-block" role="alert">
	<strong>Tempo guardado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroGuardar" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel guardar o tempo. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="sucessoDeleteTempo" class="alert alert-success center-block" role="alert">
	<strong>Tempo removido com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroDeleteTempo" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel remover o tempo. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>



