<menu></menu>

<button type="button" class="btn btn-primary btn-sm btnproduto" data-toggle="modal" ng-click="novoTempo();carregar()" data-target="#relatorio"   ><i class="glyphicon glyphicon-plus"></i>
	Gerar Relatório
</button>


<div class="modal fade" id="relatorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" >Controle de Tempo</h4>
			</div>
			
			<div class="modal-body">
				

				<div class="col-md-6">

					<select class="form-control" ng-model="tpRelatorio" ng-change="gerarRelatorio(tpRelatorio)" ng-options="tipoRelatorio for tipoRelatorio in tipoRelatorio">
						<option value="" >Selecione tipo relatório</option>
					</select>

					<br>

					<select class="form-control" ng-show="mostraAnual" ng-model="tpAno"  ng-options="anosFiltrados for anosFiltrados in anosFiltrados">
						<option value="" >Selecione tipo relatório</option>
					</select>

					<select class="form-control" ng-show="mostraMes" ng-model="tpMes"  ng-options="mesesFiltrados for mesesFiltrados in mesesFiltrados">
						<option value="" >Selecione tipo relatório</option>
					</select>


					<select class="form-control" ng-show="mostraDia" ng-model="tpDia"  ng-options="diasFiltrados for diasFiltrados in diasFiltrados">
						<option value="" >Selecione tipo relatório</option>
					</select>
				</div>





			</div>



			<div class="modal-footer uimodalfooter">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary"  ng-click="ano(tpAno)">Gerar Dados</button>

			</div>
		</div>
	</div>
</div>

<rel-Anual></rel-Anual>
